<label>Server Name</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p
  *ngIf="serverCreated; else noServer">Server {{ serverName }} was created.
</p>
<ng-template #noServer>
  <p>No server created.</p>
</ng-template>


<app-server *ngFor="let server of servers"></app-server>


<hr>
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="userName">
<button class="btn btn-secondary" [disabled]="!userName" (click)="resetName($event)">Reset</button>
<p>Username: {{ userName }}</p>


<hr>
<label>Display Details</label>
<button
  class="btn btn-primary form-control"
  (click)="showDeets()">Show
</button>
<p
  *ngIf="detailsOn === false; else show">No Details to show.
</p>
<ng-template #show>
  <p>{{ details }}</p>

</ng-template>
<p
  *ngFor="let logItem of log; let i  = index"
  [ngStyle]="{backgroundColor: i >= 4 ? 'red' : 'transparent'}">
  Details displayed {{ logItem }} times.
</p>
